* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.icon_holder {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.icon {
  cursor: pointer;
}

/* table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}


th {
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
}


tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: #fff;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}


tr:hover {
  background-color: #e0e0e0;
} */

thead {
  text-align: center;
}

td {
  text-align: center;
}

.submitButton {
  float: right;
  background-color: #39bccc;
}

.navbar-header {
  background-color: #39bccc;
}
